.ln-c-label {
	
	line-height: 1.33333;
	
	color: #4c4c4c;
	display: inline-block;
	margin-bottom: .5rem
}

.ln-c-label__info {
	color: #8e8e8e
}
.o-form .ln-c-label {
	display: block
}

.ln-c-form-group.has-error .ln-c-autocomplete:not(:disabled):not([readonly]) {
	border-color: #d70000;
	border-left-width: 4px
}

.ln-c-form-group.has-error .ln-c-autocomplete:not(:disabled):not([readonly]):hover {
	box-shadow: inset 0 0 0 1px #d70000, 0 0 0 3px transparent
}

.ln-c-form-group.has-error .ln-c-autocomplete:not(:disabled):not([readonly]):focus {
	border-color: #d70000;
	box-shadow: inset 0 0 0 1px #d70000, 0 0 0 3px rgba(0, 169, 207, .5)
}

.ln-c-form-group.has-error .ln-c-autocomplete:not(:disabled):not([readonly]):focus-within {
	border-color: #d70000;
	box-shadow: inset 0 0 0 1px #d70000, 0 0 0 3px rgba(0, 169, 207, .5)
}

.ln-c-form-group.has-warning .ln-c-autocomplete:not(:disabled):not([readonly]) {
	border-color: #ffc911;
	border-left-width: 4px
}

.ln-c-form-group.has-warning .ln-c-autocomplete:not(:disabled):not([readonly]):hover {
	box-shadow: inset 0 0 0 1px #ffc911, 0 0 0 3px transparent
}

.ln-c-form-group.has-warning .ln-c-autocomplete:not(:disabled):not([readonly]):focus {
	border-color: #ffc911;
	box-shadow: inset 0 0 0 1px #ffc911, 0 0 0 3px rgba(0, 169, 207, .5)
}

.ln-c-form-group.has-warning .ln-c-autocomplete:not(:disabled):not([readonly]):focus-within {
	border-color: #ffc911;
	box-shadow: inset 0 0 0 1px #ffc911, 0 0 0 3px rgba(0, 169, 207, .5)
}

.ln-o-bare-list {
	list-style: none;
	margin: 0;
padding-left: 5px;
}

.ln-o-bare-list--spaced {
	margin-bottom: -1rem
}

.ln-o-bare-list--spaced>.ln-o-bare-list__item {
	padding-bottom: 1rem
}

@media (min-width:720px) {
	.ln-o-bare-list--spaced {
		margin-bottom: -1.5rem
	}
	.ln-o-bare-list--spaced>.ln-o-bare-list__item {
		padding-bottom: 1.5rem
	}
}

.ln-o-bare-list--spaced-sm {
	margin-bottom: -.5rem
}

.ln-o-bare-list--spaced-sm>.ln-o-bare-list__item {
	padding-bottom: .5rem
}

@media (min-width:720px) {
	.ln-o-bare-list--spaced-sm {
		margin-bottom: -1rem
	}
	.ln-o-bare-list--spaced-sm>.ln-o-bare-list__item {
		padding-bottom: 1rem
	}
}

.ln-o-bare-list--spaced-lg {
	margin-bottom: -2rem
}

.ln-o-bare-list--spaced-lg>.ln-o-bare-list__item {
	padding-bottom: 2rem
}

@media (min-width:720px) {
	.ln-o-bare-list--spaced-lg {
		margin-bottom: -2.5rem
	}
	.ln-o-bare-list--spaced-lg>.ln-o-bare-list__item {
		padding-bottom: 2.5rem
	}
}

.ln-o-bare-list--spaced-xl {
	margin-bottom: -2.5rem
}

.ln-o-bare-list--spaced-xl>.ln-o-bare-list__item {
	padding-bottom: 2.5rem
}

@media (min-width:720px) {
	.ln-o-bare-list--spaced-xl {
		margin-bottom: -3rem
	}
	.ln-o-bare-list--spaced-xl>.ln-o-bare-list__item {
		padding-bottom: 3rem
	}
}

.ln-o-bare-list--spaced-xxl {
	margin-bottom: -3rem
}

.ln-o-bare-list--spaced-xxl>.ln-o-bare-list__item {
	padding-bottom: 3rem
}

@media (min-width:720px) {
	.ln-o-bare-list--spaced-xxl {
		margin-bottom: -4.5rem
	}
	.ln-o-bare-list--spaced-xxl>.ln-o-bare-list__item {
		padding-bottom: 4.5rem
	}
}

.ln-c-form-option {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	min-height: 48px
}

.ln-c-form-option--inline {
	display: -ms-inline-flexbox;
	display: inline-flex
}

.ln-c-form-option__label {
	box-shadow: 0 0 0 3px transparent;
	transition-duration: .2s;
	transition-property: box-shadow, background-color;
	transition-timing-function: ease-out;
	border-radius: 2px;
	color: #4c4c4c;
	cursor: pointer;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 20px;
	padding: .5rem 1rem;
	padding-left: calc(24px + 2rem);
	position: relative;
	vertical-align: middle
}

@media screen and (prefers-reduced-motion:reduce) {
	.ln-c-form-option__label {
		transition: none
	}
}

.ln-c-form-option__label::before {
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	border: 1px solid #d7d7d7;
	content: ' ';
	height: 20px;
	left: 1rem;
	position: absolute;
	top: calc(50% - 12px);
	transition-duration: .2s;
	transition-property: background-color, border-color;
	width: 20px
}

.ln-c-form-option--outlined .ln-c-form-option__label {
	border: 1px solid #d7d7d7
}

.ln-c-form-option--full .ln-c-form-option__label {
	width: 70%
}

.ln-c-form-group.has-error .ln-c-form-option__label {
	border-color: #d70000
}

.ln-c-form-group.has-warning .ln-c-form-option__label {
	border-color: #ffc911
}

.ln-c-form-option--hide-label .ln-c-form-option__label {
	padding-left: calc(24px + 1rem)
}

.ln-c-form-option--hide-label .ln-c-form-option__label>span {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px
}

.ln-c-form-option__input {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px
}

.ln-c-form-option__input:not(:disabled):focus~.ln-c-form-option__label,
.ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover {
	background-color: rgba(76, 76, 76, .08);
	color: #0c0c0c
}

.ln-c-form-group.has-error .ln-c-form-option__input:not(:disabled):focus~.ln-c-form-option__label,
.ln-c-form-group.has-error .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover {
	background-color: rgba(215, 0, 0, .08)
}

.ln-c-form-group.has-warning .ln-c-form-option__input:not(:disabled):focus~.ln-c-form-option__label,
.ln-c-form-group.has-warning .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover {
	background-color: rgba(255, 201, 17, .08)
}

.ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):focus~.ln-c-form-option__label,
.ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover {
	border-color: #4c4c4c;
	box-shadow: inset 0 0 0 1px #4c4c4c, 0 0 0 3px transparent
}

.ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):focus~.ln-c-form-option__label {
	box-shadow: inset 0 0 0 1px #4c4c4c, 0 0 0 3px rgba(0, 169, 207, .5)
}

.ln-c-form-option__input:not(:disabled):checked~.ln-c-form-option__label::before {
	border-width: 2px
}

.ln-c-form-option__input:not(:disabled):checked:focus~.ln-c-form-option__label,
.ln-c-form-option__input:not(:disabled):checked~.ln-c-form-option__label:hover {
	background-color: rgba(229, 80, 0, .08)
}

.ln-c-form-option__input:not(:disabled):checked:focus~.ln-c-form-option__label::before,
.ln-c-form-option__input:not(:disabled):checked~.ln-c-form-option__label:hover::before {
	border-color: #e55000
}

.ln-c-form-option__input:not(:disabled):checked:focus~.ln-c-form-option__label::after,
.ln-c-form-option__input:not(:disabled):checked~.ln-c-form-option__label:hover::after {
	background-color: #e55000
}

.ln-c-form-group.has-error .ln-c-form-option__input:not(:disabled):checked:focus~.ln-c-form-option__label,
.ln-c-form-group.has-error .ln-c-form-option__input:not(:disabled):checked~.ln-c-form-option__label:hover {
	background-color: rgba(215, 0, 0, .08)
}

.ln-c-form-group.has-warning .ln-c-form-option__input:not(:disabled):checked:focus~.ln-c-form-option__label,
.ln-c-form-group.has-warning .ln-c-form-option__input:not(:disabled):checked~.ln-c-form-option__label:hover {
	background-color: rgba(255, 201, 17, .08)
}

.ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):checked~.ln-c-form-option__label {
	border-color: #f06c00
}

.ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):checked:focus~.ln-c-form-option__label,
.ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):checked~.ln-c-form-option__label:hover {
	border-color: #e55000;
	box-shadow: inset 0 0 0 1px #e55000, 0 0 0 3px transparent
}

.ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):checked:focus~.ln-c-form-option__label {
	box-shadow: inset 0 0 0 1px #e55000, 0 0 0 3px rgba(0, 169, 207, .5)
}

.ln-c-form-group.has-error .ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label {
	border-color: #d70000
}

.ln-c-form-group.has-error .ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover {
	box-shadow: inset 0 0 0 1px #d70000, 0 0 0 3px transparent
}

.ln-c-form-group.has-warning .ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label {
	border-color: #ffc911
}

.ln-c-form-group.has-warning .ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover {
	box-shadow: inset 0 0 0 1px #ffc911, 0 0 0 3px transparent
}

.ln-c-form-group.has-error .ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):checked:focus~.ln-c-form-option__label,
.ln-c-form-group.has-error .ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):focus~.ln-c-form-option__label {
	box-shadow: inset 0 0 0 1px #d70000, 0 0 0 3px rgba(0, 169, 207, .5)
}

.ln-c-form-group.has-warning .ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):checked:focus~.ln-c-form-option__label,
.ln-c-form-group.has-warning .ln-c-form-option--outlined .ln-c-form-option__input:not(:disabled):focus~.ln-c-form-option__label {
	box-shadow: inset 0 0 0 1px #ffc911, 0 0 0 3px rgba(0, 169, 207, .5)
}

.ln-c-form-option__input:focus~.ln-c-form-option__label,
.ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover {
	color: #0c0c0c
}

.ln-c-form-option__input:focus~.ln-c-form-option__label::before,
.ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover::before {
	border-color: #4c4c4c;
	border-width: 2px
}

.ln-c-form-group.has-error .ln-c-form-option__input:focus~.ln-c-form-option__label::before,
.ln-c-form-group.has-error .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover::before {
	border-color: #d70000
}

.ln-c-form-group.has-warning .ln-c-form-option__input:focus~.ln-c-form-option__label::before,
.ln-c-form-group.has-warning .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover::before {
	border-color: #ffc911
}

.ln-c-form-option--radio .ln-c-form-option__label::before {
	border-radius: 50%
}

.ln-c-form-option--radio .ln-c-form-option__label::after {
	border-radius: 50%;
	content: ' ';
	height: 14px;
	left: calc(1rem + 5px);
	position: absolute;
	top: calc(50% - 7px);
	transition: background-color .2s;
	width: 14px
}

.ln-c-form-option--radio .ln-c-form-option__input:checked~.ln-c-form-option__label::before {
	border-color: #f06c00
}

.ln-c-form-group.has-error .ln-c-form-option--radio .ln-c-form-option__input:checked~.ln-c-form-option__label::before {
	border-color: #d70000
}

.ln-c-form-group.has-warning .ln-c-form-option--radio .ln-c-form-option__input:checked~.ln-c-form-option__label::before {
	border-color: #ffc911
}

.ln-c-form-option--radio .ln-c-form-option__input:checked~.ln-c-form-option__label::after {
	background-color: #f06c00
}

.ln-c-form-group.has-error .ln-c-form-option--radio .ln-c-form-option__input:checked~.ln-c-form-option__label::after {
	background-color: #d70000
}

.ln-c-form-group.has-warning .ln-c-form-option--radio .ln-c-form-option__input:checked~.ln-c-form-option__label::after {
	background-color: #ffc911
}

.ln-c-form-option--checkbox .ln-c-form-option__input:checked~.ln-c-form-option__label::before {
	background-color: #f06c00;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8dGl0bGU+CiAgICBMaW5lCiAgPC90aXRsZT4KICA8cGF0aCBkPSJNMSA2LjcxNGw0IDRMMTIuNzE0IDEiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4=);
	background-size: 70%;
	border-color: #f06c00;
	border-radius: 1px
}

.ln-c-form-group.has-error .ln-c-form-option--checkbox .ln-c-form-option__input:checked~.ln-c-form-option__label::before {
	background-color: #d70000;
	border-color: #d70000
}

.ln-c-form-group.has-warning .ln-c-form-option--checkbox .ln-c-form-option__input:checked~.ln-c-form-option__label::before {
	background-color: #ffc911;
	border-color: #ffc911
}

.ln-c-form-option--checkbox .ln-c-form-option__input:checked:focus~.ln-c-form-option__label::before,
.ln-c-form-option--checkbox .ln-c-form-option__input:checked~.ln-c-form-option__label:hover::before {
	background-color: #e55000
}

.ln-c-form-option--switch .ln-c-form-option__label {
	padding-left: calc(40px + 2rem)
}

.ln-c-form-option--switch .ln-c-form-option__label::before {
	border-radius: 12px;
	width: 40px
}

.ln-c-form-option--switch .ln-c-form-option__label::after {
	background-color: #fff;
	border: 1px solid #d7d7d7;
	border-radius: 50%;
	content: '';
	height: 24px;
	left: 1rem;
	position: absolute;
	top: calc(50% - 12px);
	transition: transform .2s;
	width: 24px
}

.ln-c-form-option--switch .ln-c-form-option__input:focus~.ln-c-form-option__label::after,
.ln-c-form-option--switch .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover::after {
	border-color: #4c4c4c;
	border-width: 2px
}

.ln-c-form-option--switch .ln-c-form-option__input:checked~.ln-c-form-option__label::before {
	background-color: #f06c00;
	border-color: #f06c00
}

.ln-c-form-option--switch .ln-c-form-option__input:checked~.ln-c-form-option__label::after {
	border-color: #f06c00;
	border-width: 2px;
	transform: translateX(16px)
}

.ln-c-form-option--switch .ln-c-form-option__input:checked:focus~.ln-c-form-option__label::before,
.ln-c-form-option--switch .ln-c-form-option__input:checked:not(:disabled)~.ln-c-form-option__label:hover::before {
	background-color: #e55000;
	border-color: #e55000
}

.ln-c-form-option--switch .ln-c-form-option__input:checked:focus~.ln-c-form-option__label::after,
.ln-c-form-option--switch .ln-c-form-option__input:checked:not(:disabled)~.ln-c-form-option__label:hover::after {
	background-color: #fff;
	border-color: #e55000
}

.ln-c-form-group.has-error .ln-c-form-option--switch .ln-c-form-option__label::after {
	border-color: #d70000
}

.ln-c-form-group.has-error .ln-c-form-option--switch .ln-c-form-option__input:focus~.ln-c-form-option__label::after,
.ln-c-form-group.has-error .ln-c-form-option--switch .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover::after {
	border-color: #d70000
}

.ln-c-form-group.has-error .ln-c-form-option--switch .ln-c-form-option__input:checked~.ln-c-form-option__label::before {
	background-color: #d70000;
	border-color: #d70000
}

.ln-c-form-group.has-warning .ln-c-form-option--switch .ln-c-form-option__label::after {
	border-color: #ffc911
}

.ln-c-form-group.has-warning .ln-c-form-option--switch .ln-c-form-option__input:focus~.ln-c-form-option__label::after,
.ln-c-form-group.has-warning .ln-c-form-option--switch .ln-c-form-option__input:not(:disabled)~.ln-c-form-option__label:hover::after {
	border-color: #ffc911
}

.ln-c-form-group.has-warning .ln-c-form-option--switch .ln-c-form-option__input:checked~.ln-c-form-option__label::before {
	background-color: #ffc911;
	border-color: #ffc911
}

.ln-c-form-option--checkbox .ln-c-form-option__input:checked:disabled~.ln-c-form-option__label::before,
.ln-c-form-option--radio .ln-c-form-option__input:checked:disabled~.ln-c-form-option__label::after,
.ln-c-form-option--switch .ln-c-form-option__input:checked:disabled~.ln-c-form-option__label::before {
	background-color: #8e8e8e;
	border-color: #8e8e8e
}

.ln-c-form-option--radio .ln-c-form-option__input:checked:disabled~.ln-c-form-option__label::before,
.ln-c-form-option--switch .ln-c-form-option__input:checked:disabled~.ln-c-form-option__label::after {
	border-color: #8e8e8e
}

.ln-c-form-option__input:disabled~.ln-c-form-option__label {
	cursor: default;
	opacity: .35
}

.ln-c-form-option__input:focus~.ln-c-form-option__label {
	box-shadow: 0 0 0 3px rgba(0, 169, 207, .5)
}

.ln-c-form-option__input:focus~.ln-c-form-option__label:not(:focus-visible) {
	box-shadow: none
}

.js-focus-visible .ln-c-form-option__input:focus~.ln-c-form-option__label {
	box-shadow: none
}

.js-focus-visible .ln-c-form-option__input.focus-visible~.ln-c-form-option__label {
	box-shadow: 0 0 0 3px rgba(0, 169, 207, .5)
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
	.ln-c-form-option__label {
		line-height: 32px
	}
}

